<head data-th-fragment="head(basicConf)">
    <title data-th-text="${basicConf.title}">website title</title>
    <meta name="description" data-th-content="${basicConf.description}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- CSS import -->
    <link rel="stylesheet" type="text/css" media="all" data-th-href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" media="all" data-th-href="@{/webjars/font-awesome/5.0.13/web-fonts-with-css/css/fontawesome-all.min.css}" />
    <link rel="stylesheet" type="text/css" media="all" data-th-href="@{/css/style.css}" />
</head>